.cookies-advice {
  background-color: $gray-darker;
  bottom: 0;
  color: $white;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1.1em 1em;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .container {
    position: relative;
  }
}

.close-cookies-advice {
  position: absolute;
  top: 1.1em;
  right: 1em;
  cursor: pointer;

  .icon {
    position: relative;
    width: 12px;
    height: 12px;

    &::before,
    &::after {
      position: absolute;
      left: 6px;
      content: ' ';
      height: 12px;
      width: 1px;
      background-color: $theme-primary;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


}
